<div class="container pt-5 pb-5">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-8 sv-font-size">
            <p class="sv-p-padding">Agencija LED EURO MEDIA, nova je agencija na tržištu koja ima za cilj kvalitetan, napredan, inovativan i profesionalan pristup oglašavanju na velikim formatima, led displejima.
                Digitalni LED bilbordi, na dobro odabranim lokacijama, iskorak su u odnosu na tradicionalni način oglašavanja.
            </p>
            <p class="sv-p-padding">Prednost oglašavanja na led displejima velikih formata jeste i lokacijski i vremenski targetirano emitovanje reklamnih poruka. 
                Vidljivost i danju i noću je zavidna, refleksija svjetlosti na minimalnom nivou, tako da je vidljivost vaše reklamne poruke zagarantovana. 
                Vremenski i lokacijski  je definisano pojavljivanje reklamne poruke. Pokretni dio privlači pažnju posmatrača, a kratka i jasna poruka u osam sekundi, sa dobro složenim elementima i intenzivnim bojama, obezbijediće upečatljivu i pamtljivu poruku.
            </p>
            <p class="sv-p-padding">
                Mijenjanje sadržaja je vrlo jednostavno i brzo, tako da svojom raznolikošću poruka privlači pažnju korisnika.
            </p>
            <p>
                Lokacije su strateški raspoređene na frekventnim mjestima, kako bi emitovanjem reklamne poruke u što kraćem vremenskom periodu došle do što većeg broja potencijalnih kupaca.
            </p>
        </div>
        <div class="col-12 col-md-12 col-lg-4 sv-text-align">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12">
                    <img src="images/logo-led2.png" alt="logo" class="pb-5">
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12">
                    <span class="sv-span">DA VAS SVI JASNO VIDE I DANJU I NOĆU</span>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12">
                    <small class="sv-small">Led Euro Media</small>
                </div>
            </div>
        </div>
    </div>
</div>