<div id="contact-link" class="page-section p-110-cont">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="cis-cont">
                    <div class="cis-icon">
                        <div class="icon icon-basic-map"></div>
                    </div>
                    <div class="cis-text">
                        <h3><span class="bold">ADRESA</span></h3>
                        <p>Vladimira Rolovića 6a, 78000 Banja Luka</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="cis-cont">
                    <div class="cis-icon">
                        <div class="icon icon-basic-mail"></div>
                    </div>
                    <div class="cis-text">
                        <h3><span class="bold">EMAIL</span></h3>
                        <p><a href="mailto:info@haswell.com">info@ledeuromedia.com</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="cis-cont">
                    <div class="cis-icon">
                        <div class="icon icon-basic-smartphone"></div>
                    </div>
                    <div class="cis-text">
                        <h3><span class="bold">POZOVITE NAS</span></h3>
                        <p>065 681 540, 065 727 727</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
