<!-- GOOGLE MAP -->

<!-- *This is an example of using latitude and longitude if you need to use them instead of an address. Read more in the documentation.* -->
<div data-latitude="37.792888" data-longitude="-122.404041" id="google-map"></div>
