<div class="container-fluid pb-5 pt-5 sv-p-unset">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-1">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12">
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-2">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12">
                    <p>BANJALUKA</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-2">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12">
                    <p>SARAJEVO</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-2">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12">
                    <p>GRADIŠKA</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-2">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12">
                    <p>BIJELJINA</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-2">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12">
                    <p>BRČKO</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-1">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12">
                </div>
            </div>
        </div>
    </div>
</div>