<!-- <div class="container-fluid pb-5 pt-5">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-4 sv-padding-bottom-card">
            <a href="#">            
                <div class="col-12 col-md-12 col-lg-12 sv-card-location">
                <p>BANJA LUKA</p>
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                </div>
            </a>
        </div>
        <div class="col-12 col-md-12 col-lg-4 sv-padding-bottom-card">
            <a href="#"> 
                <div class="col-12 col-md-12 col-lg-12 sv-card-location">
                    <p>SARAJEVO</p>
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                </div>    
            </a>
        </div>
        <div class="col-12 col-md-12 col-lg-4 sv-padding-bottom-card">
            <a href="#"> 
                <div class="col-12 col-md-12 col-lg-12 sv-card-location">
                    <p>TUZLA</p>
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12 col-lg-4 sv-padding-bottom-card">
            <a href="#"> 
                <div class="col-12 col-md-12 col-lg-12 sv-card-location">
                    <p>GRADIŠKA</p>
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                </div>
            </a>
        </div>
        <div class="col-12 col-md-12 col-lg-4 sv-padding-bottom-card">
            <a href="#"> 
                <div class="col-12 col-md-12 col-lg-12 sv-card-location">
                    <p>BRČKO</p>
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                </div>
            </a>
        </div>
    </div>
</div> -->
