
<div class="container-fluid sv-pl-unset sv-pr-unset">
    <div class="header-transporent-bg-black">
        <header id="nav" class="header header-1 black-header sv-background-color">
                <div class="container-m-30 clearfix">
                    <div class="logo-row">
                        <div>
                            <div class="logo-2">
                                <a href="/" class="clearfix">
                                    <img
                                        src="images/Logo-led.png"
                                        class="logo-img"
                                        alt="Logo"
                                    />
                                </a>
                            </div>
                        </div>
                        <div class="menu-btn-respons-container">
                            <button
                                type="button"
                                class="navbar-toggle btn-navbar collapsed"
                                data-toggle="collapse"
                                data-target="#main-menu .navbar-collapse">
                                <span aria-hidden="true" class="icon_menu hamb-mob-icon"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="main-menu-container">
                    <div class="container-m-30 clearfix">
                        <div id="main-menu">
                            <div class="navbar navbar-default" role="navigation">
                                <nav class="collapse collapsing navbar-collapse nav-center">
                                    <ul id="nav-onepage" class="nav navbar-nav">
                                        <li>
                                            <a href="/"><div class="main-menu-title">POČETNA</div></a>
                                        </li>
    
                                        <li>
                                            <a href="#about-us-link"><div class="main-menu-title">LOKACIJE</div></a>
                                        </li>
    
                                        <li>
                                            <a href="/nasi-klijenti">
                                                <div class="main-menu-title">
                                                    O NAMA
                                                </div>
                                            </a>
                                        </li>
    
                                        <li>
                                            <a href="/kontakt">
                                                <div class="main-menu-title">KONTAKT</div>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
        </header>
    </div>
</div>
