<div id="counter-1" class="page-section p-80-cont sv-background-color-kpi">
    <div class="container">
        <div class="row text-center">
            <!-- Item -->
            <div class="col-xs-12 col-sm-4">
                <div class="count-number sv-color">24</div>
                <div class="count-descr sv-color">
                    <span class="count-title">SATA DNEVNO</span>
                </div>
            </div>

            <!-- Item -->
            <div class="col-xs-12 col-sm-4">
                <div class="count-number sv-color">365</div>
                <div class="count-descr sv-color">
                    <span class="count-title">DANA U GODINI</span>
                </div>
            </div>

            <!-- Item -->
            <div class="col-xs-12 col-sm-4">
                <div class="count-number sv-color">9999</div>
                <div class="count-descr sv-color">
                    <span class="count-title">PUTA DNEVNO</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid  grey-light-bg">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-3 sv-padding-top-pdf">
            <img src="images/dizajneske-smjernice.jpg">
            <a class="button medium thin gray hover-dark sv-m-bt" href="http://ledeuromedia.com/wp-content/uploads/2020/10/DIZAJNERSKE-SMJERNICE.pdf" target="_blank">PREUZMITE PDF</a>
        </div>
        <div class="col-12 col-md-12 col-lg-9 sv-padding-top-pdf">
            <h3 class="sv-h3-margin">Dizajnerske smjernice</h3>
            <p>Kod izrade idejnog rješenja za reklamu preporučuju se inetnzivne boje, sa izraženim tonskim kontrastom između elemenata, da bi reklama bila čitka i vidljivija.  
                Ne preporučuje se korištenje bijele boje za pozadinu, jer u noćnim uslovima smanjuju vidljivost reklamne poruke, zbog toga što bijela boja može da zasljepljuje posmatrače. 
                Na digitalnim displejima preporučuju se krupna  boldovani fontovi, jer su lakše za čitanje sa veće udaljenosti.
            </p>
            <p>
                Dobar raspored elemenata i njihova pozicija, obezbjediće jasnu i pamtljivu poruku same reklame. 
                Ne preporučuje se puno elemenata i teksta! Sadržaj reklamne poruke, treba da bude, sažet, jednostavan, čitak i tačan. 
            </p>
            <p>
                Preuzmite PDF dokument koji sadrži snovne principe dizajna za LED displeje.
            </p>
        </div>
    </div>
</div>