<div id="counter-1" class="page-section p-80-cont sv-background-color-kpi">
    <div class="container">
        <div class="row text-center">
            <!-- Item -->
            <div class="col-xs-12 col-sm-4">
                <div class="count-number sv-color">24</div>
                <div class="count-descr sv-color">
                    <span class="count-title">SATA DNEVNO</span>
                </div>
            </div>

            <!-- Item -->
            <div class="col-xs-12 col-sm-4">
                <div class="count-number sv-color">365</div>
                <div class="count-descr sv-color">
                    <span class="count-title">DANA U GODINI</span>
                </div>
            </div>

            <!-- Item -->
            <div class="col-xs-12 col-sm-4">
                <div class="count-number sv-color">9999</div>
                <div class="count-descr sv-color">
                    <span class="count-title">PUTA DNEVNO</span>
                </div>
            </div>
        </div>
    </div>
</div>