<div id="index-link" class="sm-video-bg">
    <div class="container sm-content-cont js-height-fullscr">
        <div class="sm-video-wrapper">
            <div class="sm-video bg-dark-alfa-50"></div>
        </div>

        <div class="sm-cont-middle">
            <h1 class="cd-headline zoom light-72-wide font-white sm-mt-20 sm-mb-20 relative text-center-xxs">
                <img src="images/Logo-led.png" alt="Logo" class="sv-logo-home-page" />
            </h1>
        </div>

    </div>
    <div class="local-scroll-cont font-white">
        <a href="#about-us-link" class="scroll-down smooth-scroll">
            <div class="icon icon-arrows-down" id="sv-arrow-down"></div>
        </a>
    </div>
</div>