<div id="index-link" class="sm-video-bg">
    <div class="container sm-content-cont js-height-fullscr">
        <div class="sm-video-wrapper">
            <div class="sm-video bg-dark-alfa-50"></div>
        </div>

        <div class="sm-cont-middle">

            <h1
                class="cd-headline zoom light-72-wide font-white sm-mt-20 sm-mb-20 relative text-center-xxs"
            >
                <b class="is-visible">LEDEUROMEDIA</b>
            </h1>

            <div class="font-white norm-16-wide text-center-xxs sm-mb-60 relative">

                DA VAS SVI VIDE
            </div>
            <div class="text-center-xxs mt-40-xs">
                <a
                    class="button medium yellow tp-button ml-10-xxs mr-10 mb-15"
                    href="https://1.envato.market/a1gQR"
                    >ZAPOČNI</a
                ><a
                    class="button medium thin hover-dark tp-button white mlr-10"
                    href="https://1.envato.market/a1gQR"
                    >SAZNAJ VIŠE</a
                >
            </div>
        </div>
    </div>
    <div class="local-scroll-cont font-white">
        <a href="#about-us-link" class="scroll-down smooth-scroll">
            <div class="icon icon-arrows-down"></div>
        </a>
    </div>
</div>
