<!-- DIVIDER -->
<hr class="mt-0 mb-0" />

<!-- ADS 1 -->
<div id="services-link" class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-6 left-50 pl-5">
                <div class="fes2-main-text-cont">
                    <div class="title-fs-45">BANJA LUKA<br /></div>
                    <div class="line-3-100"></div>
                    <div class="fes2-text-cont">Kružni tok kod Centruma</div>
                    <div class="mt-30">
                        <a class="button medium thin gray hover-dark" href="https://1.envato.market/GVZ26">POSJETI</a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-12 col-lg-6 right-50 wow fadeInLeft pr-5">
                <div class="ads-img-cont">
                    <img src="images/ads-phone.jpg" alt="img" />
                </div>
            </div>
        </div>
    </div>
</div>

<!-- DIVIDER -->
<hr class="mt-0 mb-0" />

<!-- ADS 2 -->
<div class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-6 pr-5">
                <div class="fes2-main-text-cont">
                    <div class="title-fs-45">BANJA LUKA<br /></div>
                    <div class="line-3-100"></div>
                    <div class="fes2-text-cont">Trg Krajine</div>
                    <div class="mt-30">
                        <a class="button medium thin gray hover-dark" href="https://1.envato.market/GVZ26">POSJETI</a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-12 col-lg-6 wow fadeInRight pl-5">
                <div class="ads-img-cont">
                    <img src="images/ads-noute.jpg" alt="img" />
                </div>
            </div>
        </div>
    </div>
</div>

<!-- DIVIDER -->
<hr class="mt-0 mb-0" />

<!-- ADS 3 -->
<div class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-6 left-50 pr-5">
                <div class="fes2-main-text-cont">
                    <div class="title-fs-45">GRADIŠKA<br /></div>
                    <div class="line-3-100"></div>
                    <div class="fes2-text-cont">Novi carinski terminal</div>
                    <div class="mt-30">
                        <a class="button medium thin gray hover-dark" href="https://1.envato.market/GVZ26">POSJETI</a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-12 col-lg-6 right-50 wow fadeInLeft pl-5">
                <div class="ads-img-cont">
                    <img src="images/ads-resp.jpg" alt="img" />
                </div>
            </div>
        </div>
    </div>
</div>

<!-- DIVIDER -->
<hr class="mt-0 mb-0" />

<!-- ADS 2 -->
<div class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-6 pl-5">
                <div class="fes2-main-text-cont">
                    <div class="title-fs-45">SARAJEVO<br /></div>
                    <div class="line-3-100"></div>
                    <div class="fes2-text-cont">
                        LED displej na TC Sara Centar u Ilidži
                    </div>
                    <div class="mt-30">
                        <a class="button medium thin gray hover-dark" href="https://1.envato.market/GVZ26">POSJETI</a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-12 col-lg-6 wow fadeInRight pr-5">
                <div class="ads-img-cont">
                    <img src="images/ads-noute.jpg" alt="img" />
                </div>
            </div>
        </div>
    </div>
</div>

<!-- DIVIDER -->
<hr class="mt-0 mb-0" />

<div class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-6 left-50 pl-5">
                <div class="fes2-main-text-cont">
                    <div class="title-fs-45">TUZLA<br /></div>
                    <div class="line-3-100"></div>
                    <div class="fes2-text-cont">
                        U toku su pripreme za postavljanje LED displeja na jednoj od
                        najfrekventnijih lokacija u Tuzli
                    </div>
                    <div class="mt-30">
                        <a class="button medium thin gray hover-dark" href="https://1.envato.market/GVZ26">POSJETI</a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-12 col-lg-6 right-50 wow fadeInLeft pr-5">
                <div class="ads-img-cont">
                    <img src="images/ads-resp.jpg" alt="img" />
                </div>
            </div>
        </div>
    </div>
</div>