
<hr class="mt-0 mb-0" />

<div id="services-link" class="page-section">
    <div class="container-fluid sv-padding-card sv-padding-bottom">
        <div class="row sv-ptpb-card">
            <div class="col-12 col-md-12 col-lg-3 sv-ptpb-card sv-border-unset">
                <div class="card">
                    <img class="card-img-top" src="images/centrum1.jpg" alt="Card image cap">
                    <div class="card-body sv-pt-unset">
                      <h3 class="card-title">BANJA LUKA</h3>
                      <div class="line-3-100"></div>
                      <p class="card-text sv-ptpb">Kružni tok kod Centruma</p>
                      <a class="button medium thin gray hover-dark" href="https://1.envato.market/GVZ26">POSJETI</a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-12 col-lg-3 sv-ptpb-card sv-border-unset">
                <div class="card">
                    <img class="card-img-top" src="images/carinski-terminal.jpg" alt="Card image cap">
                    <div class="card-body sv-pt-unset">
                      <h3 class="card-title">GRADIŠKA</h3>
                      <div class="line-3-100"></div>
                      <p class="card-text sv-ptpb">Novi carinski terminal</p>
                      <a class="button medium thin gray hover-dark" href="https://1.envato.market/GVZ26">POSJETI</a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-12 col-lg-3 sv-ptpb-card sv-border-unset">
                <div class="card">
                    <img class="card-img-top" src="images/SARA-CENTAR-2.jpg" alt="Card image cap">
                    <div class="card-body sv-pt-unset">
                      <h3 class="card-title">SARAJEVO</h3>
                      <div class="line-3-100"></div>
                      <p class="card-text sv-ptpb">LED displej na TC Sara Centar u Ilidži</p>
                      <a class="button medium thin gray hover-dark" href="https://1.envato.market/GVZ26">POSJETI</a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-12 col-lg-3 sv-ptpb-card sv-border-unset">
                <div class="card">
                    <img class="card-img-top" src="images/centrum1.jpg" alt="Card image cap">
                    <div class="card-body sv-pt-unset">
                      <h3 class="card-title">TUZLA</h3>
                      <div class="line-3-100"></div>
                      <p class="card-text sv-ptpb"> U toku su pripreme za postavljanje LED displeja na jednoj odnajfrekventnijih lokacija u Tuzli</p>
                      <a class="button medium thin gray hover-dark" href="https://1.envato.market/GVZ26">POSJETI</a>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12 text-center page-title-smal-home sv-background-color-contact text-center">
                <h3>DODATNE INFORMACIJE O BILBORDIMA</h3>
            </div>
            <div class="col-12 col-md-12 col-lg-12 sv-padding-card sv-overflow sv-table">
                <table class="sv-table">
                    <thead>
                        <tr>
                            <th class="sv-th1">LOKACIJA</th>
                            <th class="sv-th2">VELIČINA LED BILBORDA</th>
                            <th class="sv-th3">REZOLUCIJA</th>
                            <th class="sv-th4">FORMAT</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>BANJA LUKA Zapadni tranzit-kružni tok, TC Centrum</td>
                            <td>18m2(6 x 3), P8</td>
                            <td>1280x720 / 1920x1080</td>
                            <td>.mov/.mp4/.avi</td>
                        </tr>
                        <tr>
                            <td>BANJA LUKA Gospodska ulica, centar grada</td>
                            <td>10m2(5 x 2), P4</td>
                            <td>1280x720 / 1920x1081</td>
                            <td>.mov/.mp4/.avi</td>
                        </tr>
                        <tr>
                            <td>BANJA LUKA Međunarodna autobuska stanica</td>
                            <td>10m2(5 x 2), P8</td>
                            <td>1280x720 / 1920x1082</td>
                            <td>.mov/.mp4/.avi</td>
                        </tr>
                        <tr>
                            <td>SARAJEVO ilidža TC Sara</td>
                            <td>24m2(6 x 4)</td>
                            <td>1280x720 / 1920x1083</td>
                            <td>.avi</td>
                        </tr>
                        <tr>
                            <td>GRADIŠKA novi Carinski terminal</td>
                            <td>52m2, P8</td>
                            <td>1280x720 / 1920x1084</td>
                            <td>.mov/.mp4/.avi</td>
                        </tr>
                        <tr>
                            <td>PRIJEDOR, RK Patria, centar grada</td>
                            <td>40m2(5 x 8)</td>
                            <td>1280x720 / 1920x1085</td>
                            <td>.mov/.mp4/.avi</td>
                        </tr>
                        <tr>
                            <td>BRČKO Bulevar mira, centar grada</td>
                            <td>12m2(4 x 3), P8</td>
                            <td>1280x720</td>
                            <td>.mov/.mp4/.avi</td>
                        </tr>
                        <tr>
                            <td>BIJELJINA kružni tok Ledinci, centar grada</td>
                            <td>20m2(5 x 4), P10</td>
                            <td>480x384</td>
                            <td>.mov/.mp4/.avi</td>
                        </tr>
                        <tr>
                            <td>TUZLA, Brčanska Malta (lokacija u pripremi)</td>
                            <td>18m2(6 x 3), P8</td>
                            <td>1280x720 / 1920x1085</td>
                            <td>.mov/.mp4/.avi</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div> 
    </div>

    <hr class="mt-0 mb-0 sv-p-padding" />

</div>

<hr class="mt-0 mb-0" />

